h1 {
    color: rgb(0, 247, 255);
    background-color: antiquewhite;
}

button{
    color: magenta;
    background-color: sienna;
}

p{
    color: rgb(236, 232, 0);
    background: orange;
}